@font-face {
    font-family: "Modica Regular";
    src: url('../fonts/Modica-Regular.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Modica Black";
    src: url('../fonts/Modica-Black.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Modica Bold";
    src: url('../fonts/Modica-Bold.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Modica Light";
    src: url('../fonts/Modica-Light.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Modica Medium";
    src: url('../fonts/Modica-Medium.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Modica SemiBold";
    src: url('../fonts/Modica-SemiBold.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Modica Thin";
    src: url('../fonts/Modica-Thin.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}